@import '_base.css';

@import 'main.css';

@import '_buttons.css';

/* VARIABLES */
:root {
  --profile-img-size: 3rem;
}

/* MAIN CONTENT AREA */
main .chat-messages {
  color: var(--text-primary-light);
  border-radius: var(--border-radius-md);
  padding: var(--p-md);
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: flex-start;
  padding-top: 1rem;
  align-items: center;
}


.app.container {
  padding: var(--p-sm);
}

/* ABOUT CARD LAYOUT */

div#about-column {
  height: 100%;
  width: 90vw;
  max-width: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div#about-title {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  text-align: center;
}

/* TEXT AND LINK FORMATTING*/

h1 {
  justify-self: center;
}

a#back-to-chat {
  justify-self: center;
  align-self: center;
  color: var(--btn-color-primary-light);
  margin-bottom: var(--p-sm);
  padding: 0.2rem var(--p-sm);
  text-decoration: none;
}

a#back-to-chat:hover {
  text-decoration: underline;
}
