.btn {
  background: linear-gradient(99.47deg, #26fde6 0%, #6aa5fd 113.32%);
  box-shadow: 0px 20px 45px rgba(113, 226, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: var(--border-radius);
  border: 1px solid rgba(99, 235, 235, 1);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}
