main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 2rem - 1px);
    padding: 1rem;
}

section.chat-container {
    display: flex;
    height: var(--footer-height);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-top: 1px solid var(--text-primary);
}

form {
    display: flex;
    border: none;
    width: 100%;
}

form input[type="text"] {
    flex: 1;
    align-items: center;
    margin-right: 1rem;
    padding-left: 2.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--text-primary);
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

form input[type="file"] {
    display: none;
}

form label[for="image"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: var(--text-primary);
    cursor: pointer;
    margin: 0.13rem -2.25rem 0.13rem 0.1rem;
    border: 1px solid var(--text-primary);
    background: white;
    z-index: 1;
}

button[type="submit"] {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--text-primary);
    border-radius: var(--border-radius);
    padding: 0.65rem 1rem;
    cursor: pointer;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
}

.chat-message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.incoming-message {
    justify-content: flex-start;
}

.message-bubble {
    background-color: var(--blue);
    color: black;
    border-radius: 1rem;
    padding: 0.75rem;
    max-width: 80%;
}

.outgoing-message .message-bubble {
    background-color: var(--blue);
    align-self: flex-end;
}

.message-text {
    margin: 0;
}
