/* <div class="container">
        <!-- SIDEBAR -->
        <aside>
            <div class="sidebar">
                <div class="sidebar__menu">
                    <h3>Chat History</h3>
                    <ul>
                        <li><a href="#">History #1</a></li>
                        <li><a href="#">History #2</a></li>
                        <li><a href="#">History #3</a></li>
                    </ul>
                </div>
                <div class="sidebar__settings">
                    <ul>
                        <li><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </aside> */

:root {
  --light-gray: #f9f9f9;
  --gray: #d9d9d9;

  --light-blue: #d8e4fc;
  --blue: #bcdcfd;
  
  --bg-primary: white;
  --bg-secondary: var(--light-blue);

  --text-primary: black;
  --text-secondary: black;

  --header-height: 3rem;
  --footer-height: 4rem;
  --aside-width: 20rem;

  --border-radius: 3rem;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
}


header {
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background-image: url('bg/cosmic.jpg');
  background-size: cover;
  color: white;
}

div.container {
  display: flex;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 1px);
}

aside {
  width: var(--aside-width);
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  padding: 1rem;
}

main {
  width: 100%;
}

h1 {
  font-family: 'Lion kinG', sans-serif;
}

/* // SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
}

/* // ul */
.sidebar__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__menu ul li {
  padding: 0.5rem 0;
}

.sidebar__menu ul li a {
  text-decoration: none;
}