:root {
    --gray: #d9d9d9;
    --blue: #1e90ff;

    --bg-secondary: var(--blue);
    --bg-primary: var(--gray);

    --text-primary: #000;
    --text-secondary: #000;

    --header-height: 3rem;
    --footer-height: 3rem;
    --aside-width: 20rem;

    --border-radius: 3rem;
}

html, body {
    margin: 0;
    padding: 0;
}

/* TODO: Open when develop menu */
aside {
    display: none;
}

header {
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--bg-primary);
}