:root {
    --light-gray: #eff1f0;
    --gray: #d9d9d9;

    --light-blue: #e6e8ec;
    --blue: #1e90ff;
    
    --bg-primary: black;
    --bg-secondary: var(--light-blue);

    --text-primary: white;
    --text-secondary: #000;

    --header-height: 3rem;
    --footer-height: 4rem;
    --aside-width: 20rem;

    --border-radius: 3rem;
}

html, body {
    margin: 0;
    padding: 0;
}

/* TODO: Open when develop menu */
aside {
    display: none;
}

header {
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}