.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
}

/* // ul */
.sidebar__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__menu ul li {
  padding: 0.5rem 0;
}

.sidebar__menu ul li a {
  text-decoration: none;
}
